:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.containt{
    padding-top: 10px;
}
.row{
    display: flex;
    gap:  10px;
}
mat-form-field{
    width: 100%;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}
.action{
    padding: 0px 25px 20px;
}
