<div mat-dialog-title>
    <h1>
        Employee Form
    </h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="containt">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="Ex. Ruwan" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Ex. alinda" formControlName="lastName">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. Ruwan@gmail.com" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-label><b>Gender</b></mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">female</mat-radio-button>
            <mat-radio-button value="other">Others</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="education">
                <mat-option *ngFor="let val of education" [value]="val">
                    {{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput type="text" placeholder="Ex. Google" formControlName="company">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input matInput  placeholder="Ex. 4" type="number" formControlName="experience">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Package</mat-label>
            <input matInput placeholder="Ex. 12" type="number" formControlName="package">
            <mat-hint>In Rupees</mat-hint>
        </mat-form-field>
    </div>
    
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button >Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
</div>
</form>
